JonTylerRyanDarch Assign2/WordScrambleClient/Service References/WordScrambleGameService/JonTylerRyanDarch_Assign2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JonTylerRyanDarch_Assign2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JonTylerRyanDarch_Assign2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GameBeingHostedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="problem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameBeingHostedFault" nillable="true" type="tns:GameBeingHostedFault" />
  <xs:complexType name="Word">
    <xs:sequence>
      <xs:element minOccurs="0" name="scrambledWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unscrambledWord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Word" nillable="true" type="tns:Word" />
  <xs:complexType name="MaximumPlayersReachedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="problem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaximumPlayersReachedFault" nillable="true" type="tns:MaximumPlayersReachedFault" />
  <xs:complexType name="HostCannotJoinGameFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="problem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HostCannotJoinGameFault" nillable="true" type="tns:HostCannotJoinGameFault" />
  <xs:complexType name="NoGameHostedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="problem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoGameHostedFault" nillable="true" type="tns:NoGameHostedFault" />
  <xs:complexType name="PlayerNotPlayingGameFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="problem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerNotPlayingGameFault" nillable="true" type="tns:PlayerNotPlayingGameFault" />
</xs:schema>